body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.messages {
  width: 800px;
  margin: 50px;
}

.messages_list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  border: 1px solid #d4d4d4;
  font-size: 18px;
}

.messages_item {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #d4d4d4;
}

.messages_item:last-child {
  border-bottom: none;
}

.messages_email {
  width: 270px;
  margin-right: 20px;
  word-wrap: break-word;
}

.messages_subject {
  flex: 1;
}

.messages_date {
  width: 150px;
  margin-left: 20px;
}
